
* {
  color: #00ccff;
  text-align: start;  
}
p {
 color: #ff0000;   
}

div {
    border-style: dashed;
    text-align: center;
    color: #000000;
}
p {
  size: 4;
  color: chocolate;
  text-align: center;
}
a {
  size: 7cqmax;
  color: blue;
}
.main{
  color: darkgreen;
  size: 477cqb;
}
.Lorem {
  border-radius: 50%; 
  border: rgb(rgb(255, 0, 0), rgb(55, 0, 255), rgb(0, 255, 42)) ;
font-size: l866px;
}
section